<ion-view title="配套中心">
	<ion-nav-bar class="bar-positive"></ion-nav-bar>
	<ion-content class="has-header">
		<ul class="list list-inset">
			<li class="item item-icon-left" ng-click="troubleNew()">
				<i class="icon ion-plus-circled positive"></i>
				<label class="h4">
					问题上报
				</label>
			</li>
			<li class="item item-icon-left" ng-click="troubleHistory()">
				<i class="icon ion-navicon-round positive"></i>
				<label class="h4">上报历史</label>
			</li>
		</ul>
	</ion-content>
</ion-view>
