<ion-view title="上报历史">
    <ion-content>
        <ul class="list">
            <li class="item item-thumbnail-left item-icon-right">
                <img src="/patrol/files/A1510832115224D369246389A958498205610DB01E75C2_weixinmedia.jpg">
                <label class="h4 calm">2017111715372416</label>
                <p>人行道/人行道残障/待立案</p>
                <label ng-click="historyLogic.showDetails(problem)">
                    <i class="icon ion-ios-search-strong positive"></i>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-view>
