<ion-view title="问题详情">
    <ion-content>
        <ul class="list">
            <li class="item">
                上报单号:2017111715165008
            </li>
            <li class="item">
                地理位置:上海市上海市宝山区沪太支路224号
            </li>
            <li class="item">
                病害位置:其他养护类
            </li>
            <li class="item">
                病害种类:无证掘路
            </li>
            <li class="item">
                病害材质:无
            </li>
            <li class="item">
                问题种类:微信上报
            </li>
            <li class="item">
                问题状态:已立案
            </li>
            <li class="item">
                报告者:普通市民
            </li>
            <li class="item">
                报告时间:2017-11-17 15:16
            </li>
            <li class="item">
                病害描述:无
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><button class="button button-balanced" ng-click="troubleLogic.goBack()">返回列表</button></div>
                    <div class="col"></div>
                    <div class="col"><button class="button button-positive" ng-click="troubleLogic.showWorkFlow()">查看流程</button></div>
                </div>
            </li>
            <li class="item item-input">
                <img height="240" src="/patrol/files/A1510832115224D369246389A958498205610DB01E75C2_weixinmedia.jpg">
            </li>
        </ul>
    </ion-content>
</ion-view>
