<ion-view title="问题上报">
<!--    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-chevron-left">取消</button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content>
        <ul class="list">
            <!--一级-->
            <li class="item item-input item-select">
                <label class="input-label h4">问题类型<!--<i class="icon ion-cube positive"></i>--></label>
                <select ng-model="loader.selectedPatrolIssueGroup"
                        ng-options="patrolIssueGroup.name for patrolIssueGroup in loader.category"
                        ng-change="loader.patrolIssueGroupChange(loader.selectedPatrolIssueGroup)"></select>
            </li>
            <li class="item item-input item-select">
                <label class="input-label h4">设施位置<!--<i class="icon ion-disc positive"></i>--></label>
                <select ng-model="loader.selectedPatrolIssueFacility"
                        ng-options="patrolIssueFacility.name for patrolIssueFacility in loader.patrolIssueFacilityList"
                        ng-change="loader.patrolIssueFacilityChange(loader.selectedPatrolIssueFacility)"></select>
            </li>
            <li class="item item-input item-select" ng-if="loader.showPatrolIssueMaterial">
                <label class="input-label h4">设施材质<!--<i class="icon ion-pinpoint positive"></i>--></label>
                <select ng-model="loader.selectedPatrolIssueMaterial"
                        ng-options="patrolIssueMaterial.name for patrolIssueMaterial in loader.patrolIssueMaterialList"
                        ng-change="loader.patrolIssueMaterialChange(loader.selectedPatrolIssueMaterial)"></select>
            </li>
            <li class="item item-input item-select">
                <label class="input-label h4">病害种类<!--<i class="icon ion-bug positive"></i>--></label>
                <select ng-model="loader.selectedPatrolIssueType"
                        ng-options="patrolIssueType.name for patrolIssueType in loader.patrolIssueTypeList"
                        ng-change="loader.patrolIssueTypeChange(loader.selectedPatrolIssueType)"></select>
            </li>
            <li class="item item-input">
                <label class="input-label h4">病害描述<!--<i class="icon ion-compose positive"></i>--></label>
                <input type="text" placeholder="请输入问题描述" ng-model="loader.troubleDesc"/>
            </li>
            <li class="item item-input">
                <label class="input-label h4">发生地址</label>
                <button class="button button-icon icon-right ion-location calm" ng-click="BDMap.showMap()"></button>
            </li>
            <li class="item item-text-wrap item-borderless" ng-if="BDMap.troubleAddress&&BDMap.troubleAddress.length>0"
                style="color: crimson">
                {{BDMap.troubleAddress}}
            </li>
           <!-- <li class="item item-input">
                <label class="input-label h4">地址补充&lt;!&ndash;<i class="icon ion-location positive"></i>&ndash;&gt;</label>
                <input type="text" ng-maxlength="30" ng-model="BDMap.troubleAddressExtra" placeholder="补充信息"/>
            </li>-->
            <li class="item item-borderless">

            </li>
            <li class="item item-input">
                <label class="input-label h4">选择图片</label>
                <button class="button button-icon icon-right ion-plus-round calm" ng-click="upload.getImage()"></button>
                <label class="badge badge-assertive">{{upload.currentImage.length}}</label>
            </li>
            <li class="item item-borderless" ng-show="upload.currentImage.length>0">
                <ion-scroll image-scroll-item direction="x">
                <image-upload current-image="upload.currentImage"
                              upload-image="upload.uploadMediaId"
                              get-image-complete="upload.getImageComplete()"
                              upload-image-complete="upload.uploadImageComplete()">
                </image-upload>

                <div class="row">
                    <div class="col" ng-repeat="item in upload.imageItems">
                        <img height="160"  ng-src="{{item.url}}"/>
                    </div>
                </div>
                </ion-scroll>
            </li>
            <li class="item item-borderless">
                <button class="button button-full button-positive" ng-click="troubleLogic.finish()">确认</button>
            </li>
        </ul>
    </ion-content>
</ion-view>
