<ion-modal-view title="处理状态">
    <ion-content>
        <ul class="list">
            <li class="item">
                <div class="row">
                    <div class="col"><label class="h4">17:28:11</label>
                        <p>2017-11-15</p></div>
                    <div class="col">管理员 立案</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><label class="h4">17:28:26</label>
                        <p>2017-11-15</p></div>
                    <div class="col">管理员 派单</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><label class="h4">17:28:32</label>
                        <p>2017-11-15</p></div>
                    <div class="col">apptest 上报了问题</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><label class="h4">17:28:38</label>
                        <p>2017-11-15</p></div>
                    <div class="col">分公司申请结案</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><label class="h4">14:27:45</label>
                        <p>2017-11-16</p></div>
                    <div class="col">养护科申请结案</div>
                </div>
            </li>
            <li class="item">
                <div class="row">
                    <div class="col"><label class="h4">14:27:59</label>
                        <p>2017-11-16</p></div>
                    <div class="col">设施科同意结案</div>
                </div>
            </li>
            <li class="item item-borderless">
                <button class="button button-positive button-full" ng-click="troubleLogic.closeWorkFlow()">返回</button>
            </li>
        </ul>
    </ion-content>
</ion-modal-view>
